
<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Convert to Leetspeak!</title>
</head>
<body>
    <div class='container'>
        <h1>Your phrase in leetspeak:</h1>
        <h4>{{ result }}</h4>
    </div>
</body>
</html>
